<div class="d-flex justify-content-between align-items-center">
    Almuerzo
    <a *ngIf="!dia.almuerzo" class="btn btn-primary" [routerLink]="['lista-comidas']"
    [queryParams]="{idDia: dia.id, momentoDelDia:'almuerzo'}">+</a>
</div>
<div class="div-boton" *ngIf="dia.almuerzo">
    <a [routerLink]="['lista-comidas']" [queryParams]=
    "{idDia: dia.id, momentoDelDia:'almuerzo'}">
        <button>Cambiar comida</button>
    </a>
    <button id="boton-eliminar-almuerzo" (click)="eliminarAlmuerzo(dia)">X</button>
</div>
<div *ngIf="dia.almuerzo">
    <span>{{dia.almuerzo.nombre}}</span>
</div>
